@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
  
}

// app transitions

.anim-float:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.badge{
    @apply bg-green-100 w-fit p-1 px-2 text-slate-800 text-xs rounded
  }