@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
  
}

// app transitions

.anim-float:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.badge{
    @apply bg-green-100 w-fit p-1 px-2 text-slate-800 text-xs rounded
  }

  .btn{
      @apply anim-float cursor-pointer bg-green-400 text-slate-800 p-2 px-8 rounded
  }
  .btn-no-float{
    @apply cursor-pointer bg-green-400 text-slate-800 p-2 px-8 rounded hover:bg-slate-800 hover:text-white
}

.menu-icons{
    @apply flex flex-col flex-wrap justify-center p-2 pl-4 gap-6 h-14 w-14 border-l-2 border-transparent text-gray-300 hover:text-green-400 hover:border-l-2 hover:border-green-400 transition-all;

    p{
        @apply h-full w-fit flex items-center
    }
}